*{
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}
.division {
    border: 0px solid #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(79, 79, 79);
    min-width: 150vh;
    min-height: 50vh;
    width: 150px;
    padding: 15px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
    text-align: justify;
}

.division h1 {
    padding: 75px 300px 0px;
    font-size: 32px;
}

.division p {
    padding: 10px 300px;
    font-size: 16px;
}

.contact-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid rgb(50, 50, 50);
    border-radius: 30px;
    margin-left: 300px;
    margin-top: 15px;
    padding: 12px 30px;
    font-size: 15px;
    background: rgb(50, 50, 50);
    position: relative;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgb(50, 50, 50);
    transition: 0.15s;
}

.contact-btn:hover {
    border: 1px solid rgb(255, 255, 255);
    color: rgb(50, 50, 50);
    background: none;
    transition: 0.15s;
}

.download {
    width: 175px;
    height: 30px;
    margin-left: 300px;
    margin-top: 30px;
    box-shadow: 0px 0px 0px rgb(50, 50, 50);
    transition: 0.25s;
}

.download a h3 {
    text-decoration: none;
    display: inline-block;
    color: rgb(50, 50, 50);
}

.fa-download {
    display: inline-block;
    margin-left: 20px;
    color:rgb(50, 50, 50);
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
}

.container > a {
    text-decoration: none;
    color: #fff;
    width: 30px;
    height: 30px;
    margin: 10px;
    padding: 15px;
    border: 0px solid rgb(50, 50, 50);
    border-radius: 100%;
    background: rgb(50, 50, 50);
    box-shadow: 0px 0px 1px rgb(50, 50, 50);
    transition: 0.25s;
}

.container > a:hover {
    transition: 0.25s;
    color: rgb(50, 50, 50);
    border: 0px solid white;
    background: white;
    box-shadow: 0px 0px 7px rgb(50, 50, 50);
}

.self-container {
    margin: 50px auto 100px;
    width: 300px;
    border: 0px solid white;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgb(50, 50, 50);
}

.self-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.text {
    text-align: center;
    margin: 0;
    padding: 0px 0px 10px 0px;
}